* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: #fff159;
  --secondary-color: #3483fa;
  --background-color: #f3f3f3;
  --card-color: white;
}
body {
  font-family: "Roboto";
}
